{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        <form action="runimport/" method="POST">
            {% csrf_token %}
                <button type="submit">Run import</button>
        </form>
    </div>
    <br />
    {{ block.super }}
{% endblock %}